* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables
--blue: #01CBE1;
--dark-blue: #01283C;
--darker-blue: #00141F; 
--offwhite:
*/

html {
    scroll-behavior: smooth; 
}

html,
body {
    width: 100vw;
    background-color: #00141F;
    color: #E5E5E5;
    font-family: proxima-nova;
    line-height: 1.4;
    max-width: 2000px;
    margin: 0 auto;
}

main {
    padding: 0 3em;
}

p {
    font-weight: 300;
}

.header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    overflow: hidden;
}

.webgl {
    width: 100%;
    height: auto;
    outline: none;
}

/* Text */
.explore-img {
    width: 100%;
    max-width: 20em;
    margin-top: 4em;

}
.intro-text {
    font-weight: 300;
    margin-top: 1em;
}

/* Patch Text */
.patch-text {
    background-color: #01283C;
    padding: 2em;
    margin-top: 13em;
}
.patch-text h2 {
    text-transform: uppercase;
    color: #01CBE1;
    font-size: 2em;
    font-weight: 900;
    line-height: 1;
}
.patch-text p {
    margin-top: 1.3em;
    font-size: 0.9em;
}
.patch-text button {
    margin-top: 2em;
    padding: 0.8em 1.5em;
    background-color: #01CBE1;
    border: none;
    font-size: 0.9em;
    transition: background-color 0.4s;
}
.patch-text button:hover {
    background-color: #5befff;
}

/* Found items */
.found-items {
    margin-top: 2em;
}

.found-items h2 {
    text-transform: uppercase;
    color: #01CBE1;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1;
}

.found-items_grid {
    display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                max(
                    200px,
                    calc((100% - ((5 - 1) * 1em)) /
                        5)
                ),
                1fr
            )
        );
        grid-gap: 2em;
        place-items: start;
        margin-top: 2em;
}
.found-items_grid img {
    width: 100%;
}
.found-items_grid p {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}